data/kim2023revisiting/pie.7z
data/kim2023revisiting/pie_dataset_pickle.7z
data/kim2023revisiting/sizeopt.7z
data/kim2023revisiting/sizeopt_dataset_pickle.7z
data/kim2023revisiting/BinKit2.0.7z
data/kim2023revisiting/BinKit2.0_dataset_pickle.7z
data/kim2023revisiting/lto.7z
data/kim2023revisiting/lto_dataset_pickle.7z
data/kim2023revisiting/noinline.7z
data/kim2023revisiting/noinline_dataset_pickle.7z
data/kim2023revisiting/normal.7z
data/kim2023revisiting/normal_dataset_pickle.7z
data/kim2023revisiting/obfus_2loop.7z
data/kim2023revisiting/obfus_2loop_dataset_pickle.7z
data/kim2023revisiting/obfus.7z
data/kim2023revisiting/obfus_dataset_pickle.7z

data/kim2023revisiting/BinKit_normal
data/kim2023revisiting/gnu_debug
data/kim2023revisiting/gnu_debug_lto
data/kim2023revisiting/gnu_debug_noinline
data/kim2023revisiting/gnu_debug_obfus
data/kim2023revisiting/gnu_debug_obfus_2loop
data/kim2023revisiting/gnu_debug_pie
data/kim2023revisiting/gnu_debug_sizeopt

data/marcelli2022how/Dataset-1.zip
data/marcelli2022how/Dataset-1-features.zip
data/marcelli2022how/Dataset-1-CodeCMR-features.zip
data/marcelli2022how/Dataset-2.zip
data/marcelli2022how/Dataset-2-features.zip
data/marcelli2022how/Dataset-Vulnerability.zip
data/marcelli2022how/Dataset-Vulnerability-features.zip

out
